<html>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<head>
	<title>WELCOME TO WALLY WORLD</title>
</head>
<body>
<header>
	<h1>WALLY WORLD</h1>
</header>

<div id="main">
	<%= yield %>
</div>

</body>
</html>