<h3>Login form</h3>

<form id="login" action="/login" method="post">

	<div>
		<input id="input" type="text" name="user_name" placeholder="Enter your username">
	</div>

	<div>
		<input id="input" type="password" name="password" placeholder="Enter your password">
	</div>

	<input id="input" type="submit" value="Log in">

</form>

<form action = "/register">
	<input id="input" type="submit" value="Register" method = "post">

</form>