<h3>Welcome to the Grocery Store</h3>


<div> 
<img id="pic" src="/images/Steak_.png">

</div>
<button id="buy">Snag some Steak</button>

<div> 
<img id="pic" src="/images/brocolli.png">

</div>
<button id="buy">Buy some Brocolli</button>

<div> 
<img id="pic" src="/images/Orange-Man.png">

</div>
<button id="buy">Orange ya gonna get some OJ</button>

<div> 
<img id="pic" src="/images/egg.png">

</div>
<button id="buy">Eggcelent choice</button>

<div> 
<img id="pic" src="/images/6237627_orig.png">

</div>
<button id="buy">Milk is a Must</button>

<div> 
<img id="pic" src="/images/beer.png">

</div>
<button id="buy">Beer</button>